# Cấu hình Cổng Web Server API
PORT=5000

# Chuỗi kết nối MongoDB Atlas (Thay <username>, <password> và <cluster-url> của bạn)
# Ví dụ: mongodb+srv://admin:matkhau123@cluster0.abcde.mongodb.net/iot_climate_db?retryWrites=true&w=majority
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/iot_climate_db?retryWrites=true&w=majority

# Cấu hình MQTT Broker (Backend dùng cổng TCP 1883, không phải 8083 của WebSocket)
MQTT_BROKER_URL=mqtt://broker.emqx.io:1883
MQTT_TOPIC_TELEMETRY=hcmute/iot/climate/telemetry
MQTT_TOPIC_STATUS=hcmute/iot/climate/status
MQTT_TOPIC_CONTROL=hcmute/iot/climate/control
